Repository po-sen/ChainTx: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-test-short, go-mod-tidy

goimports:
  name: goimports
  entry: goimports -w
  language: system

go-test-short:
  name: go test (short)
  entry: bash -c 'go test ./... -short -count=1'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy (and verify clean diff)
  entry: bash -c 'go mod tidy && git diff --exit-code -- go.mod go.sum'
  language: system
  pass_filenames: false

docs(specs): add go backend healthz swagger bootstrap spec
  specs/2026-02-06-golang-service-healthz-swagger/00_problem.md
  specs/2026-02-06-golang-service-healthz-swagger/01_requirements.md
  specs/2026-02-06-golang-service-healthz-swagger/03_tasks.md
  specs/2026-02-06-golang-service-healthz-swagger/04_test_plan.md
Due: none

feat(service): bootstrap healthz API and swagger docs
  .pre-commit-config.yaml
  Makefile
  README.md
  api/openapi.yaml
  cmd/server/main.go
  go.mod
  go.sum
  internal/adapters/inbound/http/controllers/health_controller.go
  internal/adapters/inbound/http/controllers/health_controller_test.go
  internal/adapters/inbound/http/controllers/response.go
  internal/adapters/inbound/http/controllers/swagger_controller.go
  internal/adapters/inbound/http/router/router.go
  internal/adapters/inbound/http/router/router_integration_test.go
  internal/adapters/outbound/docs/file_openapi_spec_read_model.go
  internal/application/dto/health.go
  internal/application/dto/openapi.go
  internal/application/ports/in/get_health_use_case.go
  internal/application/ports/in/get_openapi_spec_use_case.go
  internal/application/ports/out/openapi_spec_read_model.go
  internal/application/use_cases/get_health_use_case.go
  internal/application/use_cases/get_health_use_case_test.go
  internal/application/use_cases/get_openapi_spec_use_case.go
  internal/bootstrap/config.go
  internal/bootstrap/di/container.go
  internal/domain/value_objects/health_status.go
  internal/infrastructure/httpserver/server.go
  internal/shared_kernel/errors/app_error.go
  specs/2026-02-06-golang-service-healthz-swagger/00_problem.md
  specs/2026-02-06-golang-service-healthz-swagger/01_requirements.md
  specs/2026-02-06-golang-service-healthz-swagger/03_tasks.md
  specs/2026-02-06-golang-service-healthz-swagger/04_test_plan.md
Due: goimports, go-test-short, go-mod-tidy

build(toolchain): bump Go version to 1.25.7 and add upgrade spec
  README.md
  go.mod
  specs/2026-02-06-upgrade-go-1-25-7-deps/00_problem.md
  specs/2026-02-06-upgrade-go-1-25-7-deps/01_requirements.md
  specs/2026-02-06-upgrade-go-1-25-7-deps/03_tasks.md
  specs/2026-02-06-upgrade-go-1-25-7-deps/04_test_plan.md
Due: go-mod-tidy

docs(spec): add postgresql compose backend spec with golang-migrate
  specs/2026-02-07-postgresql-backend-service-compose/00_problem.md
  specs/2026-02-07-postgresql-backend-service-compose/01_requirements.md
  specs/2026-02-07-postgresql-backend-service-compose/02_design.md
  specs/2026-02-07-postgresql-backend-service-compose/03_tasks.md
  specs/2026-02-07-postgresql-backend-service-compose/04_test_plan.md
Due: none

feat(repo): add PostgreSQL bootstrap and packaged compose layout
  Makefile
  README.md
  build/package/Dockerfile
  cmd/server/main.go
  deployments/docker-compose.yml
  go.mod
  go.sum
  internal/adapters/outbound/persistence/postgresql/migrations/000001_bootstrap_metadata.down.sql
  internal/adapters/outbound/persistence/postgresql/migrations/000001_bootstrap_metadata.up.sql
  internal/adapters/outbound/persistence/postgresql/persistence_bootstrap_gateway.go
  internal/adapters/outbound/persistence/postgresql/persistence_bootstrap_gateway_integration_test.go
  internal/application/dto/initialize_persistence.go
  internal/application/ports/in/initialize_persistence_use_case.go
  internal/application/ports/out/persistence_bootstrap_gateway.go
  internal/application/use_cases/initialize_persistence_use_case.go
  internal/application/use_cases/initialize_persistence_use_case_test.go
  internal/bootstrap/config.go
  internal/bootstrap/config_test.go
  internal/bootstrap/di/container.go
  internal/shared_kernel/errors/app_error.go
  specs/2026-02-07-postgresql-backend-service-compose/00_problem.md
  specs/2026-02-07-postgresql-backend-service-compose/01_requirements.md
  specs/2026-02-07-postgresql-backend-service-compose/02_design.md
  specs/2026-02-07-postgresql-backend-service-compose/03_tasks.md
  specs/2026-02-07-postgresql-backend-service-compose/04_test_plan.md
Due: goimports, go-test-short, go-mod-tidy

docs(specs): add multi-asset payment request API draft package
  specs/2026-02-09-multi-asset-payment-request-api/00_problem.md
  specs/2026-02-09-multi-asset-payment-request-api/01_requirements.md
  specs/2026-02-09-multi-asset-payment-request-api/02_design.md
  specs/2026-02-09-multi-asset-payment-request-api/03_tasks.md
  specs/2026-02-09-multi-asset-payment-request-api/04_test_plan.md
Due: none

build(pre-commit): run goimports from managed hook env
  .pre-commit-config.yaml
Due: none

docs(spec): add wallet allocation asset catalog spec package
  specs/2026-02-10-wallet-allocation-asset-catalog/00_problem.md
  specs/2026-02-10-wallet-allocation-asset-catalog/01_requirements.md
  specs/2026-02-10-wallet-allocation-asset-catalog/02_design.md
  specs/2026-02-10-wallet-allocation-asset-catalog/03_tasks.md
  specs/2026-02-10-wallet-allocation-asset-catalog/04_test_plan.md
Due: none

docs(specs): add ready local chain simulation spec
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/00_problem.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/01_requirements.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/02_design.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/03_tasks.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/04_test_plan.md
Due: none

feat(local): add isolated BTC/ETH/USDT local chain stacks
  .gitignore
  Makefile
  README.md
  build/local-chains/usdt-node.Dockerfile
  build/service/app.Dockerfile
  deployments/local-chains/artifacts/.gitignore
  deployments/local-chains/artifacts/.gitkeep
  deployments/local-chains/docker-compose.btc.yml
  deployments/local-chains/docker-compose.eth.yml
  deployments/local-chains/docker-compose.usdt.yml
  deployments/service/docker-compose.yml
  scripts/local-chains/btc_bootstrap.sh
  scripts/local-chains/common.sh
  scripts/local-chains/contracts/foundry.toml
  scripts/local-chains/contracts/src/MockUSDT.sol
  scripts/local-chains/eth_export_artifacts.sh
  scripts/local-chains/smoke_local.sh
  scripts/local-chains/smoke_local_all.sh
  scripts/local-chains/status_local.sh
  scripts/local-chains/usdt_deploy.sh
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/00_problem.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/01_requirements.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/02_design.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/03_tasks.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/04_test_plan.md
Due: none

feat(local): unify ETH/USDT local flow and DB chain-id handling
  Makefile
  README.md
  build/local-chains/usdt-node.Dockerfile
  deployments/local-chains/docker-compose.eth.yml
  deployments/local-chains/docker-compose.usdt.yml
  deployments/service/docker-compose.yml
  internal/adapters/outbound/persistence/postgresql/bootstrap/gateway_integration_test.go
  internal/adapters/outbound/persistence/postgresql/migrations/000002_payment_requests_v1.up.sql
  internal/adapters/outbound/persistence/postgresql/paymentrequest/repository_integration_test.go
  internal/adapters/outbound/wallet/devtest/gateway.go
  internal/adapters/outbound/wallet/devtest/gateway_test.go
  internal/application/ports/out/wallet_allocation_gateway.go
  internal/application/use_cases/create_payment_request_use_case.go
  internal/application/use_cases/create_payment_request_use_case_test.go
  scripts/local-chains/common.sh
  scripts/local-chains/eth_export_artifacts.sh
  scripts/local-chains/service_keysets_json.sh
  scripts/local-chains/service_sync_catalog.sh
  scripts/local-chains/smoke_local_all.sh
  scripts/local-chains/status_local.sh
  scripts/local-chains/usdt_deploy.sh
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/00_problem.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/01_requirements.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/02_design.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/03_tasks.md
  specs/2026-02-12-local-btc-eth-usdt-chain-sim/04_test_plan.md
  specs/2026-02-14-local-chain-db-runtime-profile/00_problem.md
  specs/2026-02-14-local-chain-db-runtime-profile/01_requirements.md
  specs/2026-02-14-local-chain-db-runtime-profile/02_design.md
  specs/2026-02-14-local-chain-db-runtime-profile/03_tasks.md
  specs/2026-02-14-local-chain-db-runtime-profile/04_test_plan.md
Due: goimports, go-test-short

feat(local-chains): add profile-driven explorers and receive smoke
  Makefile
  README.md
  build/local-chains/btc-explorer.Dockerfile
  deployments/local-chains/docker-compose.btc.yml
  deployments/local-chains/docker-compose.eth.yml
  scripts/local-chains/smoke_service_receive_all.sh
Due: none

chore(repo): add AGENTS policy and spec validation tooling
  AGENTS.md
  assets/00_problem_template.md
  assets/01_requirements_template.md
  assets/02_design_template.md
  assets/03_tasks_template.md
  assets/04_test_plan_template.md
  scripts/spec-lint.sh
  scripts/verify-agents.sh
Due: none

feat(payment)!: enforce keyset preflight and hash-based wallet rotation
  Makefile
  README.md
  cmd/keysetverify/main.go
  cmd/keysetverify/main_test.go
  deployments/service/docker-compose.yml
  internal/adapters/outbound/persistence/postgresql/migrations/000003_wallet_account_key_hash_rotation.down.sql
  internal/adapters/outbound/persistence/postgresql/migrations/000003_wallet_account_key_hash_rotation.up.sql
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  scripts/local-chains/service_keysets_json.sh
  scripts/local-chains/service_sync_catalog.sh
  scripts/local-chains/service_verify_keysets.sh
  specs/2026-02-20-xpub-index0-address-verification/00_problem.md
  specs/2026-02-20-xpub-index0-address-verification/01_requirements.md
  specs/2026-02-20-xpub-index0-address-verification/02_design.md
  specs/2026-02-20-xpub-index0-address-verification/03_tasks.md
  specs/2026-02-20-xpub-index0-address-verification/04_test_plan.md
Due: goimports, go-test-short

feat(payment)!: move keyset preflight and sync into app startup
  Makefile
  README.md
  deployments/service/docker-compose.yml
  internal/adapters/outbound/persistence/postgresql/bootstrap/gateway.go
  internal/adapters/outbound/persistence/postgresql/bootstrap/gateway_integration_test.go
  internal/adapters/outbound/persistence/postgresql/bootstrap/gateway_test.go
  internal/adapters/outbound/persistence/postgresql/bootstrap/wallet_sync.go
  internal/adapters/outbound/persistence/postgresql/migrations/000004_wallet_account_sync_events.down.sql
  internal/adapters/outbound/persistence/postgresql/migrations/000004_wallet_account_sync_events.up.sql
  internal/application/ports/out/persistence_bootstrap_gateway.go
  internal/application/use_cases/initialize_persistence_use_case.go
  internal/application/use_cases/initialize_persistence_use_case_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  scripts/local-chains/service_sync_catalog.sh
  specs/2026-02-20-keyset-startup-sync-audit-rotation/00_problem.md
  specs/2026-02-20-keyset-startup-sync-audit-rotation/01_requirements.md
  specs/2026-02-20-keyset-startup-sync-audit-rotation/02_design.md
  specs/2026-02-20-keyset-startup-sync-audit-rotation/03_tasks.md
  specs/2026-02-20-keyset-startup-sync-audit-rotation/04_test_plan.md
Due: goimports, go-test-short

feat(reconciler): add configurable BTC/EVM confirmation depth
  Makefile
  README.md
  deployments/service/docker-compose.yml
  internal/adapters/outbound/chainobserver/devtest/bitcoin_observer.go
  internal/adapters/outbound/chainobserver/devtest/confirmation_policy.go
  internal/adapters/outbound/chainobserver/devtest/confirmation_policy_test.go
  internal/adapters/outbound/chainobserver/devtest/evm_observer.go
  internal/adapters/outbound/chainobserver/devtest/gateway.go
  internal/adapters/outbound/chainobserver/devtest/gateway_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  scripts/local-chains/btc_esplora_proxy.py
  specs/2026-02-21-makefile-env-extension-safe/00_problem.md
  specs/2026-02-21-makefile-env-extension-safe/01_requirements.md
  specs/2026-02-21-makefile-env-extension-safe/03_tasks.md
  specs/2026-02-21-makefile-readability-refactor/00_problem.md
  specs/2026-02-21-makefile-readability-refactor/01_requirements.md
  specs/2026-02-21-makefile-readability-refactor/03_tasks.md
  specs/2026-02-21-min-confirmations-configurable/00_problem.md
  specs/2026-02-21-min-confirmations-configurable/01_requirements.md
  specs/2026-02-21-min-confirmations-configurable/03_tasks.md
Due: goimports, go-test-short

feat(webhook): add outbox lease heartbeat renewal
  internal/adapters/outbound/persistence/postgresql/webhookoutbox/repository.go
  internal/application/ports/out/webhook_outbox_repository.go
  internal/application/use_cases/dispatch_webhook_events_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case_test.go
  specs/2026-02-21-webhook-lease-heartbeat-renewal/00_problem.md
  specs/2026-02-21-webhook-lease-heartbeat-renewal/01_requirements.md
  specs/2026-02-21-webhook-lease-heartbeat-renewal/02_design.md
  specs/2026-02-21-webhook-lease-heartbeat-renewal/03_tasks.md
  specs/2026-02-21-webhook-lease-heartbeat-renewal/04_test_plan.md
Due: goimports, go-test-short

feat(webhook): add idempotency contract and anti-replay signature
  README.md
  internal/adapters/outbound/webhook/http/gateway.go
  internal/adapters/outbound/webhook/http/gateway_test.go
  internal/application/dto/webhook_dispatch.go
  internal/application/use_cases/dispatch_webhook_events_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case_test.go
  specs/2026-02-21-webhook-idempotency-replay-signature/00_problem.md
  specs/2026-02-21-webhook-idempotency-replay-signature/01_requirements.md
  specs/2026-02-21-webhook-idempotency-replay-signature/02_design.md
  specs/2026-02-21-webhook-idempotency-replay-signature/03_tasks.md
  specs/2026-02-21-webhook-idempotency-replay-signature/04_test_plan.md
Due: goimports, go-test-short

feat(webhook): add retry jitter and runtime retry budget
  Makefile
  README.md
  deployments/service/docker-compose.yml
  internal/application/dto/webhook_dispatch.go
  internal/application/use_cases/dispatch_webhook_events_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  internal/infrastructure/webhook/worker.go
  internal/infrastructure/webhook/worker_test.go
  specs/2026-02-21-webhook-retry-jitter-budget/00_problem.md
  specs/2026-02-21-webhook-retry-jitter-budget/01_requirements.md
  specs/2026-02-21-webhook-retry-jitter-budget/02_design.md
  specs/2026-02-21-webhook-retry-jitter-budget/03_tasks.md
  specs/2026-02-21-webhook-retry-jitter-budget/04_test_plan.md
Due: goimports, go-test-short

feat(webhook): add outbox ops and delivery observability
  README.md
  api/openapi.yaml
  internal/adapters/inbound/http/controllers/webhook_outbox_controller.go
  internal/adapters/inbound/http/controllers/webhook_outbox_controller_test.go
  internal/adapters/inbound/http/router/router.go
  internal/adapters/inbound/http/router/router_integration_test.go
  internal/adapters/outbound/persistence/postgresql/webhookoutbox/repository.go
  internal/application/dto/webhook_dispatch.go
  internal/application/dto/webhook_outbox_ops.go
  internal/application/ports/in/cancel_webhook_outbox_event_use_case.go
  internal/application/ports/in/get_webhook_outbox_overview_use_case.go
  internal/application/ports/in/list_webhook_dlq_events_use_case.go
  internal/application/ports/in/requeue_webhook_dlq_event_use_case.go
  internal/application/ports/out/webhook_outbox_read_model.go
  internal/application/ports/out/webhook_outbox_repository.go
  internal/application/use_cases/cancel_webhook_outbox_event_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case_test.go
  internal/application/use_cases/get_webhook_outbox_overview_use_case.go
  internal/application/use_cases/list_webhook_dlq_events_use_case.go
  internal/application/use_cases/requeue_webhook_dlq_event_use_case.go
  internal/application/use_cases/webhook_outbox_ops_use_cases_test.go
  internal/infrastructure/di/container.go
  internal/infrastructure/webhook/worker.go
  specs/2026-02-21-webhook-observability-dlq-ops/00_problem.md
  specs/2026-02-21-webhook-observability-dlq-ops/01_requirements.md
  specs/2026-02-21-webhook-observability-dlq-ops/02_design.md
  specs/2026-02-21-webhook-observability-dlq-ops/03_tasks.md
  specs/2026-02-21-webhook-observability-dlq-ops/04_test_plan.md
Due: goimports, go-test-short

feat(webhook)!: secure ops endpoints with bearer auth and audit
  Makefile
  README.md
  api/openapi.yaml
  deployments/service/docker-compose.yml
  internal/adapters/inbound/http/controllers/swagger_controller.go
  internal/adapters/inbound/http/controllers/webhook_outbox_controller.go
  internal/adapters/inbound/http/controllers/webhook_outbox_controller_test.go
  internal/adapters/inbound/http/router/router_integration_test.go
  internal/adapters/outbound/persistence/postgresql/migrations/000009_webhook_outbox_manual_ops_audit.down.sql
  internal/adapters/outbound/persistence/postgresql/migrations/000009_webhook_outbox_manual_ops_audit.up.sql
  internal/adapters/outbound/persistence/postgresql/webhookoutbox/repository.go
  internal/application/dto/webhook_outbox_ops.go
  internal/application/ports/out/webhook_outbox_repository.go
  internal/application/use_cases/cancel_webhook_outbox_event_use_case.go
  internal/application/use_cases/dispatch_webhook_events_use_case_test.go
  internal/application/use_cases/requeue_webhook_dlq_event_use_case.go
  internal/application/use_cases/webhook_outbox_ops_use_cases_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  specs/2026-02-21-webhook-ops-admin-auth-audit/00_problem.md
  specs/2026-02-21-webhook-ops-admin-auth-audit/01_requirements.md
  specs/2026-02-21-webhook-ops-admin-auth-audit/02_design.md
  specs/2026-02-21-webhook-ops-admin-auth-audit/03_tasks.md
  specs/2026-02-21-webhook-ops-admin-auth-audit/04_test_plan.md
Due: goimports, go-test-short

feat(webhook): split alerting into dedicated alert worker runtime
  Makefile
  README.md
  build/service/app.Dockerfile
  cmd/webhook-alert-worker/main.go
  cmd/webhook-alert-worker/main_test.go
  deployments/service/docker-compose.yml
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  internal/infrastructure/webhook/worker.go
  internal/infrastructure/webhook/worker_test.go
  internal/infrastructure/webhookalert/alert_monitor.go
  internal/infrastructure/webhookalert/alert_monitor_test.go
  internal/infrastructure/webhookalert/worker.go
  internal/infrastructure/webhookalert/worker_test.go
  specs/2026-02-21-webhook-alert-threshold-monitoring/00_problem.md
  specs/2026-02-21-webhook-alert-threshold-monitoring/01_requirements.md
  specs/2026-02-21-webhook-alert-threshold-monitoring/02_design.md
  specs/2026-02-21-webhook-alert-threshold-monitoring/03_tasks.md
  specs/2026-02-21-webhook-alert-threshold-monitoring/04_test_plan.md
Due: goimports, go-test-short

feat(reconcile): add tx-level settlement tracking with reorg recovery
  Makefile
  README.md
  deployments/service/docker-compose.yml
  internal/adapters/outbound/chainobserver/devtest/bitcoin_observer.go
  internal/adapters/outbound/chainobserver/devtest/confirmation_policy.go
  internal/adapters/outbound/chainobserver/devtest/confirmation_policy_test.go
  internal/adapters/outbound/chainobserver/devtest/evm_observer.go
  internal/adapters/outbound/chainobserver/devtest/gateway.go
  internal/adapters/outbound/chainobserver/devtest/gateway_test.go
  internal/adapters/outbound/persistence/postgresql/migrations/000010_payment_request_reorg_settlements.down.sql
  internal/adapters/outbound/persistence/postgresql/migrations/000010_payment_request_reorg_settlements.up.sql
  internal/adapters/outbound/persistence/postgresql/paymentrequest/reconciliation_repository.go
  internal/adapters/outbound/persistence/postgresql/paymentrequest/reconciliation_repository_test.go
  internal/adapters/outbound/persistence/postgresql/paymentrequest/repository_integration_test.go
  internal/application/dto/payment_request_reconcile.go
  internal/application/ports/out/payment_request_reconciliation_repository.go
  internal/application/use_cases/reconcile_payment_requests_use_case.go
  internal/application/use_cases/reconcile_payment_requests_use_case_test.go
  internal/domain/value_objects/payment_request_status.go
  internal/domain/value_objects/payment_request_status_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/di/container.go
  internal/infrastructure/reconciler/worker.go
  internal/infrastructure/reconciler/worker_test.go
  specs/2026-02-21-reorg-recovery-finality-policy/00_problem.md
  specs/2026-02-21-reorg-recovery-finality-policy/01_requirements.md
  specs/2026-02-21-reorg-recovery-finality-policy/02_design.md
  specs/2026-02-21-reorg-recovery-finality-policy/03_tasks.md
  specs/2026-02-21-reorg-recovery-finality-policy/04_test_plan.md
Due: goimports, go-test-short

feat(payments): add settlement query endpoint for payment requests
  api/openapi.yaml
  internal/adapters/inbound/http/controllers/payment_requests_controller.go
  internal/adapters/inbound/http/controllers/payment_requests_controller_test.go
  internal/adapters/inbound/http/router/router.go
  internal/adapters/inbound/http/router/router_integration_test.go
  internal/adapters/outbound/persistence/postgresql/paymentrequest/read_model.go
  internal/adapters/outbound/persistence/postgresql/paymentrequest/repository_integration_test.go
  internal/application/dto/payment_requests.go
  internal/application/ports/in/get_payment_request_settlements_use_case.go
  internal/application/ports/out/payment_request_read_model.go
  internal/application/use_cases/get_payment_request_settlements_use_case.go
  internal/application/use_cases/get_payment_request_settlements_use_case_test.go
  internal/infrastructure/di/container.go
  specs/2026-02-22-payment-request-settlements-api/00_problem.md
  specs/2026-02-22-payment-request-settlements-api/01_requirements.md
  specs/2026-02-22-payment-request-settlements-api/03_tasks.md
Due: goimports, go-test-short

Path conditions:
  goimports: any of: \.go$
  go-test-short: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
